<block tpl-id="todos">
    <div id="todoapp">
        <header id="header">
            <h1>Todos</h1>
            <%= form_for @todo, :url => { :controller => 'todos', :action => 'create' } do |f| %>
                   <input id="new-todo" placeholder="What needs to be done? (100)" maxlength="100">
            <% end %>
        </header>

        <section id="main">
            <input id="toggle-all" type="checkbox" checked="tue">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list" class="data-cloak">
            </ul>
        </section>

        <footer id="footer" class="data-cloak">
            <span id="todo-count"><strong class="uncomCount">0</strong>&nbsp; left</span>
            <button id="clear-completed">Clear completed  &nbsp; <span class="comCount">0</span></button>
        </footer>
    </div>

    <div id="info">

        <p>Designed by <a href="https://github.com/tastejs">TasteJS</a>. Coded by <a href="https://github.com/mdluo">mdluo</a></p> 

        <!--
        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&repo=todos&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&repo=todos&type=fork&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&type=follow&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        -->

    </div>

</block>
