<a class="githubLink" href="https://github.com/mdluo/todos" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<block tpl-id="todos">
    <div id="todoapp">
        <header id="header">
            <h1>Todos</h1>
                  <input id="new-todo" placeholder="What needs to be done? (100)" maxlength="100">
        </header>

        <section id="main">
            <%= form_tag controller: 'todos', action: 'toggle' do %>
                  <%= check_box_tag 'toggle-all' %>
            <!--<input id="toggle-all" type="checkbox" checked="tue">
            <label for="toggle-all">Mark all as complete</label>-->
                  <%= label_tag 'toggle-all', 'Mark all as complete' %>
            <% end %>
            <ul id="todo-list" class="data-cloak">
            </ul>
        </section>

        <footer id="footer" class="data-cloak">
            <span id="todo-count"><strong class="uncomCount">0</strong>&nbsp; left</span>
            <!--
            <button id="user-login" class="footer-button">User</button>
            <button id="gen-qrcode" class="footer-button">Generate QRCode</button>
            -->
            <span id="user-login" class="footer-button">
              <svg width="22px" height="16px" viewBox="0 -80 512 512">
                <g>
                  <path d="M256.001,268.089c50.664,0,91.74-48.075,91.74-107.378c0-82.237-41.074-107.377-91.74-107.377
                  c-50.668,0-91.74,25.14-91.74,107.377C164.261,220.014,205.333,268.089,256.001,268.089z"/>
                  <path d="M458.581,426.135l-46.283-104.263c-2.117-4.771-5.836-8.727-10.465-11.138l-71.83-37.391
  c-1.584-0.824-3.502-0.663-4.926,0.415c-20.316,15.366-44.203,23.488-69.076,23.488c-24.877,0-48.762-8.122-69.078-23.488
                  c-1.428-1.079-3.346-1.239-4.93-0.415l-71.826,37.391c-4.631,2.411-8.346,6.366-10.465,11.138L53.419,426.135
    c-3.191,7.188-2.537,15.412,1.75,22.005c4.285,6.591,11.537,10.526,19.4,10.526h362.861c7.863,0,15.117-3.936,19.402-10.527
                  C461.116,441.547,461.772,433.32,458.581,426.135z"/>
                </g>
              </svg>
            </span>

            <span id="gen-qrcode" class="footer-button">
              <svg width="24px" height="24px" viewBox="0 20 50 20">
                <path d="M17.16,25.713h1.427v1.426h1.426v1.426h-7.129v-1.426h1.426v-2.852h2.853v1.426H17.16z M35.695,38.543h1.424v-1.426h-1.424  V38.543z M18.586,25.713h1.426v-1.426h-1.426V25.713z M38.543,38.543h1.426v-1.426h-1.426V38.543z M21.439,39.969h2.85v-1.426h-2.85  V39.969z M34.268,39.969v-1.426h-1.426v1.426H34.268z M28.566,39.969h1.426v-2.852h-1.426V39.969z M17.16,21.436v1.426h4.277v-1.426  H17.16z M15.736,22.861v-1.426h-2.853v2.852h1.426v-1.426H15.736z M20.012,20.01h-9.979v-9.979h9.979V20.01z M18.586,11.457h-7.129  v7.127h7.129V11.457z M12.883,37.117h4.276V32.84h-4.276V37.117z M27.139,35.691v1.426h1.428v-1.426H27.139z M17.16,12.883h-4.276  v4.275h4.276V12.883z M39.969,10.031v9.979H29.99v-9.979H39.969z M38.543,11.457h-7.127v7.127h7.127V11.457z M10.031,29.988h9.98  v9.979h-9.98V29.988z M11.458,38.543h7.129v-7.129h-7.129V38.543z M11.458,21.436h-1.427v7.129h1.427V21.436z M29.99,28.564v1.424  h1.426v-1.424H29.99z M25.713,34.266V32.84h-1.426v1.426h-2.85v2.853h2.85v1.426h1.426v-2.853h1.426v-1.426H25.713L25.713,34.266z   M21.439,15.734h2.85v-1.428h-2.85V15.734z M32.842,27.139h2.854v1.426h1.424v-4.276h-1.424v-2.853h-1.428v4.277h-4.275v1.426h1.426  v1.426h1.426v-1.426H32.842z M34.268,31.414h-1.426v-1.426h-1.426v2.852h-4.277v1.426h2.854v2.853h1.426v1.426h1.426v-2.853h5.701  v-1.426H34.27v-2.852H34.268z M34.268,31.414h1.428v-2.85h-1.428V31.414z M22.863,31.414v-1.426h1.424v-1.424h1.426v-1.427h1.426  v-2.852h4.277v-2.853H29.99v1.426h-1.426v-5.703h-1.426v-2.852h1.426v-4.273h-1.426v2.852h-1.426v-2.852h-4.276v2.852h1.426v-1.426  h1.424v2.85h1.426v4.277h1.426v1.426h-1.426v2.852h-1.426V20.01h-1.424v-1.426h-1.426v2.852h1.426v1.426h-1.426v4.277h1.426v-2.852  h1.424v2.852h-1.424v1.426h-1.426v4.275h2.85v-1.426H22.863z M38.543,32.84v-1.426h-2.85v1.426H38.543z M37.117,12.883h-4.275v4.275  h4.275V12.883z M25.713,31.414h2.854v-1.426h-1.428v-1.424h-1.426V31.414z M28.566,28.564v-1.426h-1.428v1.426H28.566z   M37.117,22.861h2.852v-1.426h-2.852V22.861z M38.543,34.266h1.426V32.84h-1.426V34.266z M38.543,25.713h1.426v-1.426h-1.426V25.713  z M25.713,18.584h-1.426v1.426h1.426V18.584z"/>
              </svg>
            </span>

            <button id="clear-completed" class="footer-button footer-text">Clear completed &nbsp; <span class="comCount">0</span></button>
        </footer>
    </div>

    <div id="info">

        <p>Designed by <a href="https://github.com/sindresorhus">Sindre Sorhus</a>. Coded by <a href="https://github.com/mdluo">Mingdong Luo</a>.</p>

        <!--
        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&repo=todos&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&repo=todos&type=fork&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&type=follow&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        -->

    </div>

    <div id="qrcode-popup">
        <%= qrcode_img "placeholder", size: 384, id: 'img-qrcode' %>
        <img id="img-no-qrcode" class="hidden" src="assets/no_qrcode.png" width="384" height="384">
    </div>

</block>
