<a class="githubLink" href="https://github.com/mdluo/todos" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<block tpl-id="todos">
    <div id="todoapp">
        <header id="header">
            <h1>Todos</h1>
                  <input id="new-todo" placeholder="What needs to be done? (100)" maxlength="100">
        </header>

        <section id="main">
            <%= form_tag controller: 'todos', action: 'toggle' do %>
                  <%= check_box_tag 'toggle-all' %>
            <!--<input id="toggle-all" type="checkbox" checked="tue">
            <label for="toggle-all">Mark all as complete</label>-->
                  <%= label_tag 'toggle-all', 'Mark all as complete' %>
            <% end %>
            <ul id="todo-list" class="data-cloak">
            </ul>
        </section>

        <footer id="footer" class="data-cloak">
            <span id="todo-count"><strong class="uncomCount">0</strong>&nbsp; left</span>
            <button id="clear-completed">Clear completed  &nbsp; <span class="comCount">0</span></button>
            <button id="gen-qrcode">Generate QRCode</button>
        </footer>
    </div>

    <div id="info">

        <p>Designed by <a href="https://github.com/sindresorhus">Sindre Sorhus</a>. Coded by <a href="https://github.com/mdluo">Mingdong Luo</a>.</p>

        <!--
        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&repo=todos&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&repo=todos&type=fork&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=mdluo&type=follow&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        -->

    </div>

    <div id="qrcode-popup">
        <%= qrcode_img "placeholder", size: 384, id: 'img-qrcode' %>
        <img id="img-no-qrcode" class="hidden" src="assets/no_qrcode.png" width="384" height="384">
    </div>

</block>